/****WHOLE PAGE CSS****/

body {
    font-family: 'Montserrat', sans-serif;
    color: darkcyan;
    background-color:#1f202b;
    margin: 0;
}

span {
    color: #fa0075;
}

/****STRUCTURAL CSS ****/

header {
    height: 800px;
    margin-top: 0;
}

nav {
    float: right;
}

nav ul li {
    display: inline-block;
}


.full {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.half {
    width: 600px;
    float: left;
}

.third {
    width: 400px;
    float: left;
}

#hire .third {
   
}


/****STYLE CSS****/

#header-strip {
    height:50px;
    color: #ffffff;
}

header { 
    background: url('/assets/hero-background.png');
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    padding: 65px 0 65px 25px;
}

h1 {
    padding-left: 75px;
}


h2 { 
    font-size: 30px;
    margin-bottom: 45px;
    margin-top: 45px;
}


nav {
    font-family: 'Source Sans Pro Semibold' sans-serif;
}



nav ul li a {
    text-transform: lowercase;
    text-decoration: none;
    font-size: 20px;
    padding-left: 80px;
    color: #ffffff;
}

/***MAIN CONTENT***/

main {
    background-color:#1f202b ;
}

main h2 {
    text-align: center;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

#jubilee {
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    border-color: darkcyan;;
}

#dcm {
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    border-color: darkcyan;;
}

#rogue {
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    border-color: darkcyan;
}

#about {
    background: url('/assets/about-me.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-top: 100px;
}

/***FOOTER SECTION***/

footer {
    background-color: #1f202b;
}

footer h2 {
    text-align: center;
}



